In [3]:
import streamlit as st
import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.70],
    columns=['lat', 'lon']
)
df

          lat         lon
0   35.691283  139.715290
1   35.705082  139.714945
2   35.704735  139.714477
3   35.698874  139.714624
4   35.691726  139.715714
..        ...         ...
95  35.700743  139.714537
96  35.698971  139.713869
97  35.699928  139.712541
98  35.703316  139.705704
99  35.692036  139.714363

[100 rows x 2 columns]